@{
    ViewData["Title"] = "Dashboard Page";
    Layout="_LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-4">Welcome to brightskills Admin PAge</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
